/* Designed by Jeremy Chui */

body {
	font-family: "Lato", sans-serif;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

.ninja {
	display:none;
}

p {
	padding: 0;
	margin: 0;
}

.resizable {
	max-width: 100%;
	max-height: 100%;

}

.section-navigation {
	position: fixed;
	top: 0;
	width: 100%;
	padding: 20px 10px;
	z-index: 100;
}
.section-navigation .apply-btn {
	margin-top: -30px !important;
	top: 0;
}

.section-navigation ul {
	list-style: none;
	float: right;
	padding: 0;
	margin: 0;
}

.section-navigation ul li {
	display: inline-block;
	padding: 10px 15px;
}

.section-navigation li a {
	color: #ffffff;
	font-weight: 300;
	padding-bottom: 5px;
	border-bottom: 1px solid rgba(255, 255, 255, 0);
}

.section-navigation li a:hover {
	border-bottom: 1px solid rgba(255, 255, 255, 100);
	transition: 0.6s;
}

.section-navigation .logo {
	position: relative;
	width: 270px;
	transition: 0.8s
}

#navbar.scroll {
	background-color: #000000;
	transition: 1s;
	padding: 10px 10px;
}

#navbar.scroll img.logo {
	width: 220px;
	transition: 0.8s;
}

.section-header {
	background-image: url("../img/header-background.jpg");
	background-size: cover;
	
	height: 100%;
	width: 100%;

	min-height: 900px;
	
	padding-top: 180px;
	text-align: center;
}

.section-header .event-sponsors {
	position: absolute;
	bottom: 20px;
	right: 0px;
	color: white;
}
.section-header .event-sponsors .sr-logo {
	margin-top:-10%;
}

.section-header p {
	color: #ffffff;
	font-weight: 300;
}

.section-header i {
	padding-right: 10px;
	color: #FF6500;
	font-size: 25px !important;
	position: relative;
	top: 3px;
}

.section-header h3 {
	font-family: "Lato", sans-serif;
	color: #ffffff;
	font-size: 14px;
	line-height: 26px;
	letter-spacing: 1px;
	font-weight: 300;
	padding-top: 20px;
	max-width: 600px;
	margin: auto;
}

.section-header h1 {
	font-family: "Lato", sans-serif;
	color: #ffffff;
	font-weight: 300;
	font-size: 50px;
}

.section-header .apply-btn {
	color: #ffffff;
	font-weight: 300;
	padding: 12px 35px;
	background-color: #FF6500;
	position: relative;
	top: 35px;
	text-transform: uppercase;
	border-bottom: 2px solid #FF6500;
}

.section-header .apply-btn:hover {
	border-bottom: 2px solid #ffffff;
	transition: 0.8s;
}

.content {
	padding: 80px 30px 100px 30px;
}

.content h1 {
	text-align: center;
	font-family: "Lato", sans-serif;
	font-weight: 300;
	font-size: 40px;
	padding-bottom: 20px;
}

.content p {
	max-width: 800px;
	margin: auto;
	text-align: center;
	font-weight: 300;
	font-size: 16px;
	line-height: 28px;
}

.content.light tbody {
	border: 1px solid #f1f1f1 !important;
	background-color: #ffffff !important;
}

.content.light td {
	background-color: #ffffff !important;
}

.content.dark {
	background-color: #1b1b1b;
	color: #ffffff;
}

.content.dark tbody {
	border: 1px solid #ffffff !important;
}

.content.dark td {
	background-color: #1b1b1b !important;
}

.section-about img {
	max-height: 100%;
	max-width: 100%;
	padding: 20px 30px;
	margin-top: 30px;
}

.section-speakers {
	text-align: center;
}

.section-speakers img {
	height: 130px;
	width: 130px;
	background-color: #ffffff;
	border-radius: 50%;
	margin-top: 50px;
	margin-bottom: 20px;
	outline: none;
	border: transparent;
}

.section-speakers .name {
	font-weight: 600;
}

.section-speakers .desc {
	font-size: 14px;
	line-height: 22px;
}

.section-sponsors .headline-sponsor-row {
	width: 50%;
	max-width: 900px;
	margin: auto auto;
}
.section-sponsors .golden-sponsors-row {
	width: 100%;
	max-width: 900px;
	margin: auto auto;
}
.section-sponsors .consulting-sponsors-row {
	width: 100%;
	max-width: 700px;
	margin: auto auto;
}
.section-sponsors .integration-sponsors-row {
	width: 100%;
	max-width: 600px;
	margin: auto auto;
}
.section-sponsors .legal-sponsors-row {
	width: 100%;
	max-width: 600px;
	margin: auto auto;
}

.section-sponsors .sponsor-container {
	float: left;
	height: 100px;
}
.section-sponsors .sponsor-container img {
	margin: auto auto;
}

.section-sponsors table p {
	text-align: left !important;
}

.section-sponsors .title {
	font-weight: bold;
	font-size: 1.2em;
}
	
.section-sponsors .desc {
	display: none;	
}

.section-faq .columns {
	padding-top: 30px;
	padding-right: 20px;
	padding-left: 20px;
}

.section-faq p {
	text-align: left;
	padding-left: 35px;
}

.section-faq p.question {
	font-weight: 400;
}

.section-faq p.answer {
	padding-top: 5px;
	font-size: 14px;
}

.section-faq i {
	float: left;
	font-size: 24px;
	position: relative;
	top: -4px;
}

.section-call-to-action {
	height: 180px;
	padding-top: 40px;
}

.apply-btn {
	color: #ffffff;
	font-weight: 300;
	padding: 12px 35px 12px !important;
	background-color: #FF6500;
	position: relative;
	top: 20px;
	text-transform: uppercase;
	border-bottom: 2px solid #FF6500;
}

.apply-btn:hover {
	border-bottom: 2px solid #ffffff;
	transition: 0.8s;
}

.section-footer {
	background-color: #000000;
	color: #ffffff;
	
	padding: 50px 30px;
	
	font-weight: 300;
	font-size: 14px;
}

.section-footer img.footer-logo-large {
	margin-bottom: 10px;
}
.section-footer img.footer-logo-small {
	height: 70px;
	margin-bottom: 10px;
}

.section-footer p {
	font-size: 14px;
	font-weight: 300;
}

.section-footer ul {
	list-style: none;
}

.section-footer li a {
	color: #ffffff;
	text-align: left;
}

.section-footer li {
	padding: 2px 0;
}

.section-footer .sponsors img {
	width: 140px;
	padding: 0 15px;
}



@media only screen and (max-width: 64.0625em) {
	.section-sponsors table {
		width: 100%;	
	}
	
	.section-sponsors table p.time {
		padding: 0px;
		padding-left: 10px;
	}
	
	.section-sponsors table p.title {
		padding: 0px;
		padding-left: 20px;
	}
	
	section[name='schedule'] table p.img {
		padding: 30px;
	}
	
	.section-footer .sponsors {
		padding: 20px 10px;
	}
	
	.section-footer .sponsors img {
		width: 140px;
		padding: 0 15px;
	}
}